<IfModule mod_headers.c>
 Header set Access-Control-Allow-Origin "*"
Header add Cache-Control:  "no-store, no-cache, must-revalidate"
</IfModule>
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ /kamil_project/index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ /kamil_project/index.php?/$1 [L]